@import url(https://fonts.googleapis.com/css?family=Maitree);
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Asap');

body {
  background-color:#f8f8f8;
}
h2 {
  font-family:Share Tech Mono;
  color:white;
  font-size:70px;
}
h1 {
  margin-top:65px;
  margin-bottom:15px;
  font-size:50px;
  font-family:Maitree;
  color:black;
}
.clock {
  box-shadow:5px 5px 5px #4c4c4c;
  border:groove #171794 2px;
  border-radius:20px;
  background-color:#0062C2;
  width:400px;
  height:250px;
  position:absolute;
  top:150px;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
.block {
  height:100px;
  width:250px;
  background-color:grey;
  margin:auto;
  margin-left:140px;
  float:left;
  border-right:groove 3px #0062C2;
  border-bottom:groove 3px #0062C2;
  box-shadow:3px 3px 3px #4c4c4c;
}
#level {
  font-size:20px;
  color:white;
}
#session {
  margin:auto;
  margin-right:140px;
  float:right;
}
#break_in,#session_in {
  display:block;
  text-align:center;
} 
.center  > *{
    margin-left:10px;
  margin-top:10px;
  display:inline-block;
}
.side {
  font-size:30px;
  color:white;
  font-family:asap;
}
.in_clock {
  margin:auto;
  text-align:center;
  width:350px;
  border:6px inset #003699;
  background-color:#1C382E;
  margin-top:30px; 
  cursor:pointer;
}
.color {
  text-align:center;
  color:white;
  font-family:maitree;
}
hr {
  margin-top:-3px;
  width:200px;
}
.single {
  font-family:asap;
  position:absolute;
  bottom:0;
  right:10px;
}