@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  background-color:#262626;
  background-image:url('http://www.beautycolorcode.com/262626-2880x1800.png'); 
  background-size:cover;
  transition: background-image 2s linear; /*creates the smooth transition between the background img*/
}
div > div > div > h1 {
  color:white;
  font-size:65px;
  font-family:Dotum,Monospace;
  font-style:Oblique;
  margin-bottom:20px;
}
#city {
  color:black;
  font-size:40px;
  font-family:Lora,Monospace;
  margin-bottom:20px;
}

.main {
  text-align:center;
  width:75%;
  height:auto;
  background-color:white;
  opacity:0.8;
  margin:auto;
  border-radius:3%;
  padding-bottom:30px;
}

#kelvin,#imperial,#metric{
  display:inline-block;
  margin:20px 10px 0px 10px;
}
.temp {
 color:black; 
}